<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">GregFest 2018</a></li>
	        	<li><a href="/information.html">Information</a></li>
        		<li><a href="/program.html">Program</a></li>
        		<li><a href="/written-contributions.html">Written Contributions</a></li>
			<li><a href="/photos.html">Photos</a></li>
    		</ul>
		</nav>
		<div class="container">
      
    {{ content }}
      
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:erica.dayton@rochester.edu">email</a></li>
		</ul>
		</footer>
	</body>
</html>

